body{
    background-image: url(../Photos/landing.jpg);
    background-size:cover;
}

li{
    list-style: none;
}

#landing-container{
    padding-bottom: 20%;
    height: 15%;
    width:50%;
    margin-top: 15%;
    margin-left: 35%;
    font-size: 30px;
    font-family: monospace;
}

.landing-logo{
    margin-top: 9%;
    height: 20px;
    width: 10px;
    margin-left: 40%;
}

.landing-logo img{
    height: 190px;
    width: 290px;
}

.button{
    margin-left: 45%;
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
}

/*---- SET OF COLORS FOR BUTTONS FOR FUTURE USE ----*/

.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */ 
.danger:hover {background: #da190b;}

.default {background-color: #e7e7e7; color: black;} /* Gray */ 
.default:hover {background: #ddd;}

/* -----END OF COLOR CHOICES ----- */

@font-face{
    font-family:appFont;
    src: url(Oswald-Light.ttf)
}

.confirm-logo{
    margin-top: 2%;
    height: 20px;
    width: 10px;
    margin-left: 1%;
}

.confirm-logo img{
    height: 190px;
    width: 290px;
}

.confirm-input{
    padding-bottom: 20%;
    height: 1px;
    width:30%;
    margin-top: 15%;
    margin-left: 35%;
    font-size: 30px;
    font-family: appFont;
    float: left;
}
#back-button{
    width:50px;
    margin-left: 28%;
}